:root {
    --green: #3e4f33;
    --blue: #e8f5f3;
    --purple: #f0e4ed;
    --yellow: #feeccd;
    --font-sans-serif: 'Roboto Mono', monospace;
}
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
img {
    max-width: 100%;
    display: block;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
}
/* universal css */
.logo {
    /* change this later??? *********/
    max-width: 200px;

}
/** typography **/
body {
    font-family: var(--font-sans-serif);
    font-weight: 400;
    color: var(--green);
}
h2 {
    font-weight: 500;
}
a {
    text-decoration: none;
    color: var(--green);
}
a:hover {
    border-bottom: 1px solid var(--green);
}

/* header */
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
}
header {
    background-color: var(--green);
    padding: 2rem;
}
header a {
    color: var(--yellow);
}
header a:hover {
    border-bottom: 1px solid var(--yellow);
}
.container li {
    border: 1px solid var(--yellow);
    color: var(--yellow);
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .logo {
    max-width: 115px;
    padding: 2rem;
}
.image-link a:hover {
    border-bottom: none;
}
/* hero section */
.hero {
    background-color: var(--green);
    color: var(--yellow);
    /* border-bottom: 1px solid var(--green);*/
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(24, 1fr);
}
.hero p {
    color: var(--yellow);
}
.hero a {
    color: var(--yellow);
}
.hero a:hover {
    border-bottom: 1px solid var(--yellow);
}
.item-1 {
    grid-column: 7 / 16;
    grid-row: 2 / 16;
    z-index: 1;
}
.item-2 {
    grid-column: 9 / -1;
    grid-row: 3 / 4;
    font-size: 2.6rem;
    z-index: 2;
}
.item-3 {
    grid-column: 12 / -1;
    grid-row: 7 / 17;
    font-size: 3rem;
    z-index: 2;
}
.box {
    border: 1px solid var(--yellow);
    grid-column: 6 / 17;
    grid-row: 1 / 17;
}
.yellow {
    color: var(--yellow);
}
/* hours section */
.hours {
    background-color: var(--yellow);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;
    /*border-bottom: 1px solid var(--green);*/
}
.hours img {
    max-width: 33%;
}
/* location section */
.location {
    background-color: var(--yellow);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;
    border-bottom: 2px solid var(--green);
}
/* footer */
footer {
    background-color: var(--green);
    padding: 2rem;
}
.fa-brands {
    color: var(--yellow);
    padding: 1rem;
}