:root {
    --green: #3e4f33;
    --blue: #e8f5f3;
    --purple: #f0e4ed;
    --yellow: #feeccd;
    --font-sans-serif: 'Roboto Mono', monospace;
}
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
img {
    max-width: 100%;
    display: block;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
}
/* universal css */
.logo {
    /* change this later??? *********/
    max-width: 200px;
}
/** typography **/
body {
    font-family: var(--font-sans-serif);
    font-weight: 400;
    color: var(--green);
}
h2 {
    font-weight: 500;
}
a {
    text-decoration: none;
    color: var(--green);
}
a:hover {
    border-bottom: 1px solid var(--green);
}

/* header */
.container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    align-items: center;
    justify-items: center;
    padding: 2rem;
}
header {
    background-color: var(--blue);
}
/* hero section */
.hero {
    background-color: var(--blue);
    border-bottom: 1px solid var(--green);
    padding: 2rem;
}
.hero img {
    width: 33%;
}
/* hours section */
.hours {
    background-color: var(--yellow);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;
    border-bottom: 1px solid var(--green);
}
.hours img {
    max-width: 33%;
}
/* location section */
.location {
    background-color: var(--purple);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;
    border-bottom: 2px solid var(--green);
}
/* footer */
footer {
    background-color: var(--green);
    padding: 2rem;
}
.fa-brands {
    color: var(--yellow);
    padding: 1rem;
}